<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>name:<%=user.name  %></h1>
    <button><a href="/myposts">my post</a></button>
    <button><a href="/showposts">see the all posts</a></button>\
    <button><a href="/posts/new/">create a new post</a></button>
</body>
</html>